#content {
  #main {
    @include span-columns(8);
    padding: 20px 10px 10px 10px;
    height: 100%;
  }

  #sidebar {
    @include span-columns(4);
    @include omega();
    @include reset-display;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    h2 {
      padding-bottom: .3em;
      margin-bottom: .3em;
      border-bottom: 1px solid $light-gray;
    }
  }

  .button-text {
    color: #ffffff;
  }
}