#content {
  #main {
    @include span-columns(8);
    padding: 20px 10px 10px 10px;
    height: 100%;
  }

  #sidebar {
    @include span-columns(4);
    @include omega();
    @include reset-display;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;

    h2 {
      padding-bottom: .3em;
      margin-bottom: .3em;
      border-bottom: 1px solid $light-gray;
    }
  }

  .social-media {
    text-align: center;
    margin-top: 1em;
    color: $red;

    a {
      @extend a;
      color: $red;
      margin: 1em;

      &:hover {
        color: darken($red, 5%);
      }
    }

    i {
      color: $base-font-color;

      &:hover {
        color: darken($base-font-color, 5%);
      }
    }
  }

  .button-text {
    color: #ffffff;
  }

  .pulse-repeat {
    animation: pulse 1s infinite;
  }
}