<p>
	CKI began in 1936 as a Kiwanis club service project to provide an opportunity for capable, ambitious, and worthy young men to acquire a college education by assisting them, where necessary, with their financial problems, by means of a scholarship fund, if available, or securing part-time employment. Soon after the concept of CKI was recognized and accepted, the element of community service was introduced, thus creating an appealing outlet for collegians around the globe. 
</p>
<p>
	Today, as the largest collegiate service organization, CKI boasts a membership of more than 12,600 collegians on more than 500 campuses worldwide. CKI is a student-led organization with an International Board of Representatives elected by its membership each year. Embodied by its tenets of leadership, fellowship, and service at the club, district and International levels, CKI continues to grow through service to the world's campuses and communities. 
</p>
<ul>
	<h3>Interesting Events</h3>
	<li><strong>1936 </strong>Circle K concept first presented</li>
	<li><strong>1947 </strong>First CKI club chartered </li>
	<li><strong>1949 </strong>CKI becomes an international organization </li>
	<li><strong>1957 </strong>First CKI district is established </li>
	<li><strong>1971 </strong>Females welcomed into CKI </li>
	<li><strong>1982 </strong>CKI membership surpasses 14,500 members </li>
	<li><strong>2005 </strong>50th anniversary of CKI </li>
</ul>