<div class="wrapper">
	<h1>Contact us!</h1><br />
	<h3>2014 - 2015 UCSD CKI Board</h3>
	<table>
		<tr>
		<th>Name</th>
			<th>Position</th>
			<th>Email</th>
		</tr>
		<tr>
			<td>Deborah Diaz</td>
			<td>President</td>
			<td>ddiaz.president@ucsdcki.org</td>
		</tr>
		<tr>
			<td>Jaime Estepa</td>
			<td>VP of Administration</td>
			<td>jestepa.vpa@ucsdcki.org</td>
		</tr>
		<tr>
			<td>Taryn Conyers</td>
			<td>VP of Service</td>
			<td>tconyers.vps@ucsdcki.org</td>
		</tr>
		<tr>
			<td>Emilie Shen</td>
			<td>Secretary</td>
			<td>eshen.secretary@ucsdcki.org</td>
		</tr>
		<tr>
			<td>Victoria Ortiz</td>
			<td>Treasurer</td>
			<td>vortiz.treasurer@ucsdcki.org</td>
		</tr>
		<tr>
			<td>Cyrielle Hacher</td>
			<td>Fundraising</td>
			<td>chacher.fundraising@ucsdcki.org</td>
		</tr>
		<tr>
			<td>Tim Hwang</td>
			<td>Historian</td>
			<td>thwang.historian@ucsdcki.org</td>
		</tr>
		<tr>
			<td>Jonathan Woo</td>
			<td>Kiwanis Family</td>
			<td>jwoo.kfam@ucsdcki.org</td>
		</tr>
		<tr>
			<td>Nick Chang</td>
			<td>Public Relations</td>
			<td>schang.pr@ucsdcki.org</td>
		</tr>
		<tr>
			<td>Andrew Thai</td>
			<td>Social Chair</td>
			<td>athai.social@ucsdcki.org</td>
		</tr>
		<tr>
			<td>John Najjar</td>
			<td>Spirit Chair</td>
			<td>jnajjar.spirit@ucsdcki.org</td>
		</tr>
		<tr>
			<td>Josephina Le</td>
			<td>Technology Chair</td>
			<td>jle.tech@ucsdcki.org</td>
		</tr>
	</table>
</div>