<div id="event">
  <div id="navigator">
    <h3>Monday 9/20</h3>
    <ul>
      <li>Test Event</li>
      <li>Test Event</li>
    </ul>

    <h3>Tuesday 9/21</h3>
    <ul>
      <li>Test Event</li>
    </ul>

    <h3>Wednesday 9/22</h3>
    <ul>
      <li>Test Event</li>
    </ul>

    <h3>Thursday 9/23</h3>
    <ul>
      <li>Test Event</li>
    </ul>

    <h3>Friday 9/24</h3>
    <ul>
      <li>Test Event</li>
    </ul>

  </div>

  <div id="viewport">

    <div class="head">
      <button>Signup</button>

      <h2>Event Title</h2>

      <p>Monday, September 20, 2014 | 5:30PM - 6:30PM</p>


    </div>

    <div class="left">
      <div class="description">
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum
          dolor sit amet, consectetur adipiscing elit. Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus
          mollis interdum. Etiam porta sem malesuada magna mollis euismod.</p>
      </div>

      <div class="registrations">
        <h4>Who's going</h4>
        <ul>
          <li class="avatar small">
            <img src="http://placehold.it/100x100">

            <p class="name">Test User</p>
          </li>
          <li class="avatar small">
            <img src="http://placehold.it/100x100">

            <p class="name">Test User</p>
          </li>
        </ul>
      </div>
    </div>


    <div class="right">
      <div class="chair avatar large">
        <img src="http://placehold.it/200x200">

        <p class="name">Test User</p>

        <p class="info">(555) 555-5555</p>
      </div>
    </div>

  </div>

</div>