<div id="event">
  <div id="navigator" style="border-bottom-left-radius: 10px;">
    <h3>Monday 9/29</h3>
    <ul>
      <li>Boys & Girls Club</li>
    </ul>

    <h3>Tuesday 9/30</h3>
    <ul>
      <li>Feeding America</li>
      <li>Reality Changers</li>
    </ul>

    <h3>Wednesday 10/1</h3>
    <ul>
      <li>Reality Changers</li>
      <li>Welcome Week Bonfire</li>
    </ul>

    <h3>Thursday 10/2</h3>
    <ul>
      <li>Campus Trash Cleanup</li>
      <li>Reality Changers</li>
    </ul>

    <h3>Friday 10/3</h3>
    <ul>
      <li>Bishops High School</li>
      <li>Beach Clean Up</li>
    </ul>
    <br />
    <button ui-sref="calendar">Back to Calendar</button>

  </div>

  <div id="viewport">

    <div class="head">

      <div class="event-info">
        <h2>{{ event.title }}</h2>
        <ul>
          <li><strong>{{ event.start_time | date : "EEEE, MMMM d, y"}}</strong></li>
          <li><strong>{{event.start_time | date: " h:mma to " | lowercase}}{{ event.end_time | date : 'h:mma' | lowercase}}</strong></li>
          <li>Meet at <strong>{{ event.meeting_location }}</strong></li>
        </ul>
      </div>

      <div class="signup">
        <button ng-if="!registered" ng-click="register()">Signup</button>
        <button ng-if="registered" ng-click="unregister()">Unsignup</button>
      </div>

    </div>

    <div class="left">
      <div class="description">
        <p>{{ event.description }}</p>
      </div>

      <div class="registrations">
        <h4>Who's going</h4>
        <ul>
          <li class="avatar small" ng-repeat="registration in event.registrations">
            <img src="https://www.drupal.org/files/profile_default.jpg">

            <p class="name">{{ registration.name }}</p>
            <p ng-if="isAuthorized(userRoles.officer)" class="name">{{ registration.phone | tel }}</p>
          </li>
        </ul>
      </div>
    </div>


    <div class="right">
      <div class="chair avatar large">
        <h5>Person of Contact</h5>
        <br />
        <div class="image">

        </div>
        <img src="https://www.drupal.org/files/profile_default.jpg">

        <p class="name">{{ event.contact.first_name }} {{ event.contact.last_name }}</p>

        <p class="info">{{ event.contact.phone | tel }}</p>
      </div>
      <button ng-if="isAuthorized(userRoles.officer)" type="button" ng-click="chair()">Chair Event</button>
    </div>

  </div>

</div>

