<div id="event">
  <div id="navigator" style="border-bottom-left-radius: 10px;" ng-controller="EventWeekCtrl">
    <ul ng-repeat="(key, value) in events | orderBy:key[0].start_time | limitObjectTo: 7">
      <h3>{{ key | date: 'EEEE M/d' }}</h3>
      <li ng-repeat="event in value"><a ui-sref="event({id: event.id})">{{ event.title }}</a></li>
    </ul>
    <br />
    <button ui-sref="calendar">Back to Calendar</button>

  </div>

  <div id="viewport">

    <div class="head">

      <div class="event-info">
        <h2>{{ event.title }}</h2>
        <ul>
          <li><strong>{{ event.start_time | date : "EEEE, MMMM d, y"}}</strong></li>
          <li><strong>{{event.start_time | date: " h:mma to " | lowercase}}{{ event.end_time | date : 'h:mma' | lowercase}}</strong></li>
          <li>Meet at <strong>{{ event.meeting_location }}</strong></li>
        </ul>
      </div>

      <div class="signup">
        <div ng-if="!registered && !currentUser" class="modal">
          <label for="guestRegistration">
            <div class="btn"><i class="fa fa-check"></i> Guest Signup</div>
          </label>
          <input class="modal-state" id="guestRegistration" type="checkbox" />
          <div class="modal-window">
            <div class="modal-inner">
              <label class="modal-close" for="guestRegistration"></label>
              <h1>Sign up as a guest</h1>
              <p class="intro">We're glad you've decided to check us out! Please leave us with some contact
                information in case we need to contact you regarding our event!</p>
              <p class="body">
                <form>
                  <label>First Name</label>
                  <input type="text" name="firstName" ng-model="guest.firstName">
                  <label>Last Name</label>
                  <input type="text" name="lastName" ng-model="guest.lastName">
                  <label>Phone Number</label>
                  <input type="tel" name="phone" ng-model="guest.phone">

                  <button type="submit" ng-click="registerGuest(guest.firstName, guest.lastName, guest.phone)">Signu
                    p</button>
                </form>
              </p>
            </div>
          </div>
        </div>


        <button ng-if="!registered && currentUser" ng-click="register()"><i class="fa fa-check"></i> Signup</button>
        <button ng-if="registered && !driving" ng-click="drive()"><i class="fa fa-car"></i> Drive</button>
        <button ng-if="registered" ng-click="unregister()"><i class="fa fa-close"></i> Signup</button>
      </div>

    </div>

    <div class="left">
      <div class="description">
        <p>{{ event.description }}</p>
      </div>

      <div class="registrations">
        <h4>Who's going</h4>
        <ul>
          <li class="avatar small" ng-repeat="registration in event.registrations">

            <div class="avatar-wrapper">
              <img src="https://www.drupal.org/files/profile_default.jpg">
              <i ng-if="registration.driver_status" class="overlay fa fa-car"></i>
            </div>

            <p class="name">{{ registration.name }}</p>
            <p ng-if="isAuthorized(userRoles.officer)" class="name">{{ registration.phone | tel }}</p>
          </li>
          <li class="avatar small" ng-repeat="guest in event.guests">

            <div class="avatar-wrapper">
              <img src="https://www.drupal.org/files/profile_default.jpg">
              <i class="overlay fa fa-male"></i>
              <i ng-if="guest.driver_status" class="overlay fa fa-car"></i>
            </div>

            <p class="name">{{ guest.name }}</p>
            <p ng-if="isAuthorized(userRoles.officer)" class="name">{{ registration.phone | tel }}</p>
          </li>
        </ul>
      </div>
    </div>


    <div class="right">
      <div class="chair avatar large">
        <h5>Person of Contact</h5>
        <br />
        <div class="image">

        </div>
        <img src="https://www.drupal.org/files/profile_default.jpg">

        <p class="name">{{ event.contact.first_name }} {{ event.contact.last_name }}</p>

        <p class="info">{{ event.contact.phone | tel }}</p>
      </div>
      <button ng-if="isAuthorized(userRoles.officer)" type="button" ng-click="chair()">Chair Event</button>
    </div>

  </div>

</div>

