<div id="about" class="wrapper">
	<h1>About Circle K</h1><br />
  <div id="sidebar">
    <div ng-class="{active:isActive('/about')}" class="page"><a ui-sref="circlek.general">General</a></p></div>
    <hr>
    <div ng-class="{active:isActive('/about/history')}" class="page"><a ui-sref="circlek.history">History</a></div>
    <hr>
    <div ng-class="{active:isActive('/about/structure')}"
         class="page"><a ui-sref="circlek.structure">Structure</a></p></div>
    <hr>
    <div ng-class="{active:isActive('/about/tenets')}" class="page"><a ui-sref="circlek.tenets">Tenets</a></p></div>
  </div>
  <br /><br />
	<div id="main" ui-view></div>
</div>
