.avatar {
  text-align: center;

  img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }

  .name {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
  }

  &.large {
    img {
      width: 150px;
      height: 150px;
    }

    .name {
      font-weight: bold;
      font-size: 1.2em;
    }
  }

  &.small {
    img {
      width: 75px;
      height: 75px;
    }

    .name {
      font-size: .8em;
    }
  }



  .info {
    line-height: 1em;
    padding-top: 0;
    margin-top: 0;
    text-align: center;
  }
}