<img src="images/mockheader2.jpg" width="100%" height="100%">

<img src="images/mockslider.jpg" width="100%" height="100%">

<div id="content">
  <div id="main"> 
    <a ui-sref="home.posts"><button>Announcements</button></a>
    <a ui-sref="home.events"><button>Events</button></a>
    <a ui-sref="home.forms"><button>Forms</button></a>
    <div ui-view></div> 
  </div>

  <div id="sidebar">
    <div ng-if="currentUser">
      <h2>Welcome, {{ currentUser.first_name }}!</h2>
      <ul>
        <li><a ui-sref="profile">View profile</a></li>
      </ul>
    </div>
    <div ng-if="!currentUser">
    <h2>Welcome!</h2>
      <p>
        If you have account, please <a href="index.html#/login">login</a>. If you do not, you are invited to <a href="index.html#/login/register">register</a> now!
      </p>      
    </div>
</div>
