<h3>Not a member? Join us!</h3>
<br />
<p>
  CKI (Circle K International) is an organization at the collegiate and university levels. The main focus of CKI is to promote community service, leadership development, as well as fellowship and friendship. Registering allows you to easily sign up for
  events with just one click! However, you also not have to be an official member to come out to many of our events!
</p>
<button class="button" ui-sref="login.register">Register</button>
<button class="button" ui-sref="circlek.general">Learn More</button>