<form ng-submit="register()">
  <h2>Let's get registered!</h2>

  <label for="username">Username</label>
  <input type="text" name="username" ng-model="username">

  <label for="email">Email</label>
  <input type="email" name="email" ng-model="email">

  <label for="password">Password</label>
  <input type="password" name="password" ng-model="password">

  <label for="password_confirm">Password Confirmation</label>
  <input type="password" name="password_confirm" ng-model="password_confirm">

  <label for="first_name">First Name</label>
  <input type="text" name="first_name" ng-model="firstName">

  <label for="last_name">Last Name</label>
  <input type="text" name="last_name" ng-model="lastName">

  <input type="submit" class="button" value="Register">
</form>
