<form>
  <h2>Let's get registered!</h2>

  <label for="username">Username</label>
  <input type="text" name="username">

  <label for="email">Email</label>
  <input type="email" name="email">

  <label for="password">Password</label>
  <input type="password" name="password">

  <label for="first_name">First Name</label>
  <input type="text" name="first_name">

  <label for="last_name">Last Name</label>
  <input type="text" name="last_name">

  <input type="submit" class="button" value="Register">
</form>