<div id="event-create" class="wrapper">
  <h2>Create an Event</h2>
  <br />
  <form ng-submit="create()">
    <label for="title">Title</label>
    <input type="text" name="title" ng-model="event.title" placeholder="Title">

    <label for="description">Description</label>
    <textarea froala name="description" ng-model="event.description"></textarea>

    <label for="event_location">Event Location</label>
    <input type="text" name="event_location" placeholder="123 A Street" ng-model="event.eventLocation">

    <label for="meeting_location">Meeting Location</label>
    <input type="text" name="meetingLocation" placeholder="Sun God Lawn" ng-model="event.meetingLocation">

    <label for="startDate">Event Start</label>
    <quick-datepicker ng-model="event.startDate"></quick-datepicker>

    <label for="endDate">Event End</label>
    <quick-datepicker ng-model="event.endDate"></quick-datepicker>

    <label for="openDate">Signup Open</label>
    <quick-datepicker ng-model="event.openDate"></quick-datepicker>

    <label for="closeDate">Signup Close</label>
    <quick-datepicker ng-model="event.closeDate"></quick-datepicker>

    <br />

    <button type="submit">Create</button>
  </form>
</div>
