<div id="event-create" class="wrapper">
  <h2>Create an Event</h2>
  <br />
  <form ng-submit="create()">
    <label for="title">Title</label>
    <input type="text" name="title" ng-model="title" placeholder="Title">

    <label for="description">Description</label>
    <textarea name="description" placeholder="Description" ng-model="description"></textarea>

    <label for="event_location">Event Location</label>
    <input type="text" name="event_location" placeholder="123 A Street" ng-model="eventLocation">

    <label for="meeting_location">Meeting Location</label>
    <input type="text" name="meetingLocation" placeholder="Sun God Lawn" ng-model="meetingLocation">

    <label for="startDate">Event Start</label>
    <quick-datepicker ng-model="startDate"></quick-datepicker>

    <label for="endDate">Event End</label>
    <quick-datepicker ng-model="endDate"></quick-datepicker>

    <label for="closeDate">Signup Close</label>
    <quick-datepicker ng-model="closeDate"></quick-datepicker>

    <br />

    <button type="submit">Create</button>
  </form>
</div>
