<div class="wrapper" ng-if="currentUser">
	<h3>{{currentUser.first_name}}'s Profile</h3>
	<p>
		<h5>About</h5>		
		<ul>
			<li>
				<strong>Username: </strong> {{currentUser.username}}
			</li>
			<li>
				<strong>Name:</strong> {{currentUser.first_name + ' ' + currentUser.last_name}}
			</li>
			<li>
				<strong>Email: </strong> {{currentUser.email}}
			</li>
		</ul><br />
		<a ui-sref="settings">Edit name, email, and password.</a>
	</p>
</div>
<div class="wrapper" ng-if="!currentUser">
	<h3>Profile does not exist.</h3>
	<p>
		It looks like you are not logged in or registered. You must be logged in to view and edit your profile.
	</p>
	<button ui-sref='login.info'>Login</button>
	<button ui-sref='login.register'>Register</button>
</div>