<p>
	Circle K International at UC San Diego is the largest community service organization on campus, boasting over 200 members during the 2012-2013 school year. UCSD CKI received the Outstanding Community Service Program of the Year Award from UCSD for 2010-2011. UCSD CKI distinguishes itself from other campus organizations for its dedication to service, leadership, and fellowship. Its doors are always open to new members, so you can get involved today! Our club mascot is Crobie, a microbe that is also known as a stomach virus and our club theme for the 2012-2013 year was Spies and for the current year, it's theNightmare Before Christmas. 
</p>
<h3>General Body Meetings</h3>
<p>
	UCSD Circle K hold general body meetings every Monday at 8PM (unless there is a holiday) to discuss upcoming events, recognize members, and all around just have fun. Meetings are open to everyone. The location varies, and is posted on the index. 
</p>
<h3>Service</h3>
<p>
	Weekly service events are held by UCSD Circle K, during the week, as well as on weekends. You do not have to be a formal club member to participate in a service event. Projects vary from maintaining a plot in the on campus community garden, to ladling soup at soup kitchens, to helping with children at Boys and Girls Club. There are multiple events per week, and it's more than likely that you will find something that catches your interest. Rides are provided to all service events and are met at the Sun God Lawn. To view upcoming service events, please refer to the Calendar. 

</p>
<h3>Leadership</h3>
<p>
	There are various opportunities for leadership at UCSD Circle K. There are multiple committees that are always seeking more committee members. Each would be more than happy to receive further input. Every event also requires a chair, a responsibility that anyone willing may request. The club also has an Elected Board which is elected by club members every year before Spring Quarter, and an Appointed Board which is selected by the Elected Board. To learn more about the current board as well as its specific positions, please refer to the Board page. 

</p>
<h3>Fellowship</h3>
<p>
	UCSD Circle K provides various opportunities for social life and friendships. It is always open to new members, and will always welcome anyone to attend its GBMs or events. It also holds multiple social events every week which range from hanging out at the beach to going out for a meal. Rides are also provided to all social events if necessary. To view upcoming social events, please refer to the page or to the Calendar. We also have multiple families which you can join, which include a sibling system. 

</p>
<h3>Key Events</h3>
<p>
	Annually, UCSD Circle K puts on a Masquerade Ball as a fundraiser during Fall Quarter. This year, it will take place October 29th on a triple decker yacht. Last year, it raised over $20,000 in funding for charity. Also during fall quarter, is New Member Install, a dinner reception that takes place to welcome new members into our club. This is where families and siblings are revealed. Another annual event, Snowcial takes place during Winter Quarter, which is a weekend ski trip to Big Bear. UCSD Circle K also participates in many District Events, which you can find out more about on the Calendar page.

</p>