<p>
      UCSD Circle K has many causes to which it offers aid or donates money. 
</p>

<h3>Service</h3>
<p>
      The club participates in service projects for many organizations, including the La Jolla Kiwanis Club, Boys & Girls Club, Ladle Soup Kitchen, the San Diego Food Bank, the American Red Cross, Reality Changers, and others. 
</p>

<h3>Service Partners</h3>
<p>
      Better World Books to support book drives and collecting used books for donation to other programs around the world. 
      Students Team Up to Fight Hunger to work together to provide food for those who need it the most. 
      UNICEF The ELIMINATE Project to work toward the elimination of maternal and neonatal tetanus. 
</p>

<h3>Service Initiatives</h3>
<p>
      Each year, a service initiative is chosen at the district level. This year, the DSI is Special Help for Special Needs which focuses on promoting the wellbeing of the mentally challenged. This can be done through helping them in the following areas: behavioral, social, and literary skills. In doing so, this would help people with developmental disabilities to better adapt to living independently. 
      A service initiative is also chosen at the international level. The ISI is Focus on the Future, Children, which stresses service towards helping children through various activities. These may include tutoring or going to Boys & Girls Clubs to enrich the growth of children. 
</p>

<h3>Fundraising Initiatives</h3>
<p>
      Each year, three fundraising initiatives are established by the district. For the 2011-2012 school year, the three DFIs are: 
      Not For Sale to work towards awareness of and an end to human trafficking. 
      Pediatric Trauma Program to work towards providing a support of education for the prevention of pediatric trauma and injuries in children. 
      UNICEF Six Cents Initiative to work towards providing access to clean water, oral rehydration salts, water filtration systems, and more to children across the world. 
</p>