<p>UCSD Circle K has many causes to which it offers aid or donates money. </p>
<h4>Service</h4>

<p>The club participates in service projects for many organizations, including the La Jolla Kiwanis Club, Boys &
  Girls Club, Ladle Soup Kitchen, the San Diego Food Bank, the American Red Cross, Reality Changers, and
  others. </p>
<h4>Service Partners</h4>

<p>Better World Books to support book drives and collecting used books for donation to other programs around the
  world.
  <br>Students Team Up to Fight Hunger to work together to provide food for those who need it the most. </p>
<h4>Charities</h4>

<p>- UNICEF The ELIMINATE Project to work toward the elimination of maternal and neonatal tetanus. <br>- UNICEF
  Six Cents Initiative to work towards providing access to clean water, oral rehydration salts, water filtration
  systems, and more to children across the world. <br>- March Of Dimes focuses on raising awareness of prematurity
  and reducing the rate of premature births.</p>